<!DOCTYPE html>
<html>
<head>
	<title> LOG IN</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/st.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer1.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer2.css') }}"/>

</head>
<body>

<footer>
            <div class="row">
                <div class="col span-1-of-3">
                    <ul class="footer-nav-left">
                        <li>Contact: &nbsp;0731-2438700, Ext. 829</li>
                        <li>E-mail: &nbsp;hostel@iiti.ac.in</li>
                        <li>Web: &nbsp; <a href="http://hostel.iiti.ac.in/">hostel.iiti.ac.in</a></li>
                    </ul>
                </div>

                <div class="col span-1-of-3">
                    <ul class="footer-nav-center">
                        <li><a href="http://iiti.ac.in/"> IIT Indore Official Site</a></li>
                        <li><a href="https://gymkhana-2a704.firebaseapp.com/"> Gymkhana IIT Indore</a></li>
                    </ul>
                </div>


                <div class="col span-1-of-3">
                    <ul class="footer-nav-right">
                        <li>Security Supervisor:&nbsp; +91-6265224771</li>
                        <li>Ambulance: &nbsp; 7509062832</li>
                        <li>Medical: &nbsp; 0731-2438700, Ext. 987, 776</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>
                    Copyright &copy; IIT Indore. All rights reserved.
                </p>
            </div>
</footer>

</body>
</html>